# Application Server Port
PORT=APP_PORT
VITE_PORT=APP_PORT

# Optional YouTube Data API v3 Key (if you wish to make API queries)
# The IFrame API works directly without a key for video ID playback.
VITE_YOUTUBE_API_KEY=your_api_key_here
